<footer
  class="w-full bg-slate-900 flex flex-col items-center justify-center gap-3 py-5"
>
  <p class="text-xl text-white">&copy; 2024 All Rights Reserved | BookArcade</p>
  <div class="flex gap-5 text-white">
    <a href="/">Home </a>
    <a href="/library">Library</a>
    <a href="mailto:savyasharma73@gmail.com">Contact</a>
  </div>
</footer>
